target/
**/target/
**/webapps/
build/
bin/
logs/
tmp/
temp/
dist/*
project/boot/
project/plugins/project/
*.class
*.war
*/.cache
*.cache
*/.classpath
*.classpath
*/.project
*.project
*.settings
*/.settings
*/.prefs
**/big.txt
*.prefs
*.log
*/.DS_Store
*/.history
*/.localized
**/*~
.DS_Store
.idea/

