target/
**/target/
build/
bin/
logs/
tmp/
temp/
*.class
*.war
*/.cache
*.cache
*/.classpath
*.classpath
*/.project
*.project
*/.settings
*/.prefs
*.prefs
*.log
*/.DS_Store
*/.history
*/.localized
**/*~
.DS_Store

.DS_Store
