<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="${sys:metaLevel}" strict="true"
	shutdownHook="disable">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${sys:plain.logging.console.pattern}" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="${sys:rootLevel}">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>