<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="${sys:metaLevel}" strict="true"
	shutdownHook="disable">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${sys:plain.logging.console.pattern}" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="${sys:rootLevel}">
			<AppenderRef ref="Console" />
		</Root>
		<Logger name="org.reflections.Reflections" level="error"
			additivity="false" />
		<Logger name="org.apache.camel.management" level="error"
			additivity="false" />
		<Logger name="org.apache.camel.impl" level="error"
			additivity="false" />
		<Logger name="org.springframework" level="error"
			additivity="false" />
		<Logger name="akka.camel" level="error"
			additivity="false" />
		<Logger name="scala.slick" level="error"
			additivity="false" />
		<Logger name="com.typesafe.slick" level="off"
			additivity="false" />
	</Loggers>
</Configuration>